@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply to all scrollable divs */
.scrollable-div::-webkit-scrollbar {
  width: 6px; /* Adjust width as needed */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #333; /* Scrollbar color */
  border-radius: 10px; /* Rounded scrollbar */
}

.scrollable-div::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.SERVERMSG h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.SERVERMSG h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.SERVERMSG h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.SERVERMSG h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.SERVERMSG h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.SERVERMSG h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.SERVERMSG p {
  margin: 7.5px 0px;
  line-height: 1.4;
}

.SERVERMSG ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.SERVERMSG ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.SERVERMSG li {
  display: list-item;
}
